<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string><![CDATA[http://sys-down.oss-cn-shanghai.aliyuncs.com/lxed/ios.ipa?Expires=1555905751&OSSAccessKeyId=TMP.AgGK-DOaITOSvsLnqZRxrciI4j1ppVZ2jqw2NZoJN3AF4l5NGX3m_WVMq_1bADAtAhUAn_lMTKdczmsknDAAcpdwzXGYN1gCFArHmvm6FiCQth2aIrmF_nDjLzkh&Signature=mVLS5zNkalQ%2Fu3qtSs4oB0HSC%2BI%3D]]></string>
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>full-size-image</string>
                        <key>needs-shine</key>
                        <true/>
                        <key>url</key>
                        <string><![CDATA[http://bbdh5.papahuan.com:8084/resource/e-loan.56d068aa.png]]></string>
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>display-image</string>
                        <key>needs-shine</key>
                        <true/>
                        <key>url</key>
                        <string><![CDATA[http://bbdh5.papahuan.com:8084/resource/e-loan.56d068aa.png]]></string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>com.seed.youpin</string>
                    <key>bundle-version</key>
                    <string><![CDATA[1.0.0]]></string>
                    <key>kind</key>
                    <string>software</string>
                    <key>title</key>
                    <string><![CDATA[旅行e贷]]></string>
                    <key>subtitle</key>
                    <string><![CDATA[APP]]></string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>